@model PagedOrderModel
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="item-bd">

    @for (int i = 0; i < Model.Orders.Count; i++)
    {
        var item = Model.Orders[i];
        <tbody orderId="@item.Id">
            <tr class="order-hd">
                <td colspan="6"><span class="order-num">订单编号：@item.OrderNumber</span> <span class="order-time">交易时间：@item.TransactionDateTime.ToGeneralString()</span></td>
            </tr>
            <tr class="order-item">
                <td class="item w30">
                    <div class="pic-info">
                        <img src="/@item.ImageFileName" />
                    </div>
                    <div class="txt-info">
                        <p class="txt-title">莎士比亚</p>
                        <p class="txt-fl">作品分类：油画</p>
                    </div>
                </td>

                <td class="w12 item-zt">@item.Status</td>
                <td class="w12 item-zffs">@item.PayMode</td>
                <td class="w12 item-psfs">@item.DeliveryMode</td>
                <td class="w12 item-fkzt">
                    <p class="yfk">
                        <span class="J_showMsg hide">
                            <img src="i/new_msg.gif" /></span><span class="hide J_userMsg">本周来取，取前请忽包装</span>己付款
                    </p>
                    <p><a href="http://192.168.1.118:8080/ysp-shop/admin/orderManage-info.html" target="_blank">详情</a></p>
                </td>
                <td class="w20 tiem-cz">
                    @if (item.Status == Art.Data.Common.OrderStatus.待处理)
                    {
                        <a href="" class="yes">
                            <img src="/icon/jieshou.png" align="top" />接受</a>
                        <a href="" class="no J_noBtn">
                            <img src="/icon/jujue.png" align="top" />拒绝</a>    
                    }
                    else if (item.Status == Art.Data.Common.OrderStatus.已接受 && item.DeliveryMode == Art.Data.Common.DeliveryMode.物流配送)
                    {
                        <a href="" class="wait-fh J_wuliuBtn">
                            <img src="i/waitfh.png" align="top">等待发货</a>    
                    }

                </td>

            </tr>
        </tbody>
    }

</table>



@Html.Partial("_Pager", Model.PagingResult)
