@model PagedOrderModel
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="item-bd">

    @foreach (var item in Model.Orders)
    {
        <tbody orderId="@item.Id">
            <tr class="order-hd">
                <td colspan="6">
                    <span class="order-num">订单编号：@(item.OrderNumber)</span>
                    <span class="order-time">交易时间：@(item.TransactionDateTime.ToGeneralString())</span>
                </td>
            </tr>
            <tr class="order-item">
                <td class="item w30">
                    <div class="pic-info">
                        <img src="/@item.ArtworkImagePath" alt=""/>
                    </div>
                    <div class="txt-info">
                        <p class="txt-title">@item.ArtworkType</p>
                        <p class="txt-fl">作品分类：@(item.ArtworkType)</p>
                    </div>
                </td>

                <td class="w12 item-zt">@item.Status.ToString()</td>
                <td class="w12 item-zffs">@item.PayType.ToString()</td>
                <td class="w12 item-psfs">@item.DeliveryType.ToString()</td>
                <td class="w12 item-fkzt">
                    <p class="yfk">
                        <span class="J_showMsg hide">
                            <img src="icon/new_msg.gif" alt=""/></span><span class="hide J_userMsg">@item.Note</span>@(item.PayStatus == Art.Data.Common.PayStatus.支付成功 ? "己付款" : "未付款")
                    </p>
                    @if (!string.IsNullOrEmpty(item.Note))
                    {
                        <p><span class="J_showMsg"><img src="/icon/new_msg.gif" alt=""/><span class="J_userMsg msgBox"><i></i><span>买家留言：@(item.Note)</span></span></span>---</p>
                    }
                    <p><a href="/Order/Detail/@item.Id" target="_blank">详情</a></p>
                </td>
                <td class="w20 tiem-cz">
                    @switch (item.Status)
                    {
                        case Art.Data.Common.OrderStatus.生成中:
                            break;
                        case Art.Data.Common.OrderStatus.已关闭:
                            <span class="close">交易己关闭</span>
                            break;
                        case Art.Data.Common.OrderStatus.待处理:
                            <a id="aOrderAccept" href="javascript:void(0);" class="yes">
                                <img src="/icon/jieshou.png" align="top" alt=""/>接受</a>
                            <a id="aOrderRefuse" href="javascript:void(0);" class="no">
                                <img src="/icon/jujue.png" align="top" alt=""/>拒绝</a>
                            break;
                        case Art.Data.Common.OrderStatus.已接受:
                            if (item.DeliveryType == Art.Data.Common.DeliveryType.自提)
                            {
                                <span class="close">待自提</span>
                            }
                            else
                            {
                                <a id="aOrderAddReminder" href="javascript:void(0);" class="wait-fh">
                                    <img src="/icon/waitfh.png" align="top" alt="">等待发货</a>
                            }
                            break;
                        case Art.Data.Common.OrderStatus.已发货:
                            <p><span class="succeed">己发货</span></p>
                            <p><a id="aOrderDistribution" href="/Order/Detail/@item.Id#peisongInfo" target="_blank">配送信息</a></p>
                            break;
                        case Art.Data.Common.OrderStatus.完成:
                            <p><span class="succeed">交易成功</span></p>
                            <p><a id="aOrderDistribution" href="/Order/Detail/@item.Id#peisongInfo" target="_blank">配送信息</a></p>
                            break;
                        case Art.Data.Common.OrderStatus.已拒绝:
                            <span class="close">己拒绝</span>
                            <a id="aRefund" href="javascript:void(0);" class="refund">退款</a>
                            break;
                        case Art.Data.Common.OrderStatus.已退款:
                            <span class="close">订单失败</span>
                            break;
                    }
                </td>

            </tr>
        </tbody>
    }
</table>
@Html.Partial("_Pager", Model.PagingResult)
